::ng-deep .mdc-tab--active {
  background-color: #3f51b5;
}

::ng-deep
  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  color: #fff;
}

body {
  background: #fff
    url(https://www.synzeal.com/Themes/Motion/Content/img/texture_1.png) repeat
    center;
}

.icons-style {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.blog-image {
  width: 100%; /* Makes the image take the full width of the blog post */
  height: auto; /* Ensures the aspect ratio is maintained */
  border-radius: 8px; /* Optional: Adds rounded corners to the image */
  margin-bottom: 15px; /* Adds spacing below the image */
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

table th {
  font-weight: 600;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 7px 17px;
}

.image-bg {
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05);
}

h1 {
  font-size: 24px;
  font-weight: 400;
  background: #009899;
  color: #fff;
  text-align: center;
  padding: 12px 10px;
  font-size: 18px;
  margin-bottom: 0px;
}

.product-name {
  margin: 0 0 15px;
}

.font-size_12_px {
  font-size: 12px;
}

.padding_7_px {
  padding: 7px !important;
}

.font-size_24_px {
  font-size: 24px;
}

.margin-top_100px {
  margin-top: 100px;
}

.margin_30_px {
  margin: 30px;
}

.margin-20_px {
  margin: 20px;
}

.margin-10_px {
  margin: 10px;
}

.width_100 {
  width: 100%;
}

.padding_bottom_22px {
  padding-bottom: 22px !important;
}

.cursor {
  cursor: pointer;
}
.screenOverFlowY{
  max-height: 400px; 
  overflow-y: auto;
  margin-top: 5px;
  overflow-x: auto;
} 
// .screenOverFlowY {
//   height: 400px;
//   overflow-y: auto;
//   overflow-x: auto;
//   margin-top: 5px;
//   display: block;
//   scrollbar-width: thin;
// }


.watermark-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  display: block;
}

.watermark-pattern {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;

  opacity: 0.18;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='180'%3E%3Cg transform='rotate(-25 150 90)'%3E%3Ctext x='20' y='90' font-size='38' font-family='Arial' font-weight='700' fill='%23999999'%3EPharma%20Mart%20Q%3C/text%3E%3C/g%3E%3C/svg%3E");

  background-repeat: repeat;
  background-size: 300px 180px;
}