.submit {
  display: flex;
  justify-content: center;
  margin: 5px;
  gap: 10px;
}

.example-table-container {
  min-width: 99%;
  /* overflow-x: scroll; */
}

.mat-column-ff0001 {
  flex: 0 0 7%;
}
.unit-code-container {
  min-width: 49%;
}

.sales-code-container {
  min-width: 49%;
}
