<div class="adjust">
  <div class="example-table-container">
    <div class="p-2">
      <div class="section_header">
        <p class="section_header_title">Company Information</p>
      </div>
    </div>
    <!--address -->
    <div class="adjust">
      <div class="unit-code-container">
        <div class="unit-code-box">
          <form [formGroup]="ViewDetailForm">
            <div class="row no-gutters ms-1 me-1 dense-4">
              <mat-form-field appearance="outline" class="col-12 px-1">
                <mat-label>Oarganization Unit Code</mat-label>
                <input type="text" matInput placeholder="Oarganization Unit Code" formControlName="orgUnitCode"
                  readonly />
              </mat-form-field>
            </div>
          </form>
          <div class="supplier-content-code">
            <div class="sup-head-code supply-container">
              <div class="sup-fields heading-font">
                Address of organization unit
              </div>
              <div class="sup-values padding_4">
                {{ orgUnitInfo.ff0005 }}, {{ orgUnitInfo.ff0006 }},
                {{ orgUnitInfo.ff0007 }},{{ orgUnitInfo.ff0008 }},{{
                orgUnitInfo.ff0009
                }},<br />
                <span class="heading-font">Pincode:</span>
                {{ orgUnitInfo.ff0010 }},<span class="heading-font">
                  Mobile: </span>{{ orgUnitInfo.ff0011 }}<br /><span class="heading-font">Email: </span>{{
                orgUnitInfo.ff0012 }}, <br /><span class="heading-font">PAN: </span>{{ orgUnitInfo.ff0013 }},
                <span class="heading-font">GST: </span>{{ orgUnitInfo.ff0014 }},
                <span class="heading-font">State Code: </span>{{ orgUnitInfo.ff0015 }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sales-code-container">
        <div class="unit-code-box">
          <form [formGroup]="ViewDetailForm">
            <div class="row no-gutters ms-1 me-1 dense-4">
              <mat-form-field appearance="outline" class="col-12 px-1">
                <mat-label>Sale Unit Code</mat-label>
                <input type="text" matInput placeholder="Sale Unit Code" formControlName="salesUnitCode" readonly />
              </mat-form-field>
            </div>
          </form>
          <div class="supplier-content-code">
            <div class="sup-head-code supply-container">
              <div class="sup-fields heading-font">Address of sales unit</div>
              <div class="sup-values padding_4">
                {{ salesUnitInfo.ff0005 }}, {{ salesUnitInfo.ff0006 }},
                {{ salesUnitInfo.ff0007 }},{{ salesUnitInfo.ff0008 }},{{
                salesUnitInfo.ff0009
                }},<br />
                <span class="heading-font">Pincode:</span>
                {{ salesUnitInfo.ff0010 }},<span class="heading-font">
                  Mobile: </span>{{ salesUnitInfo.ff0011 }}<br /><span class="heading-font">Email: </span>{{
                salesUnitInfo.ff0012 }}, <br /><span class="heading-font">PAN: </span>{{ salesUnitInfo.ff0013 }},
                <span class="heading-font">GST: </span>{{ salesUnitInfo.ff0014 }},
                <span class="heading-font">State Code: </span>{{ salesUnitInfo.ff0015 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-common-title [title]="'Product Information'"></app-common-title> -->
    <!-- <div class="float-right">
     <button mat-raised-button class="section-add-new-record-btn" (click)="addNewRow()">
        Add
      </button> 
    </div>-->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="p-2">
      <div class="tabOverFlowX">
        <table class="display-table" id="dataTable">
          <thead>
            <tr>
              <th></th>
              <th>Price Code</th>
              <th>Product Code</th>
              <th>Product Name</th>
              <th>Product No</th>
              <th col="7">Quantity</th>
              <th col="11">Pack</th>
              <th>HSN Code</th>
              <th col="10">Rate</th>
              <th col="11">% Discount</th>
              <th col="12">Discount Amount</th>
              <th col="12">Discount Rate</th>
              <th col="12">Total Discount</th>
              <th col="13">After Discount Amount</th>
              <th>%GST</th>
              <th>GST Amount</th>
              <th>Final Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartRecords">
              <td>
                <button mat-icon-button color="warn" (click)="removeRowAttachment(item)">
                  <mat-icon>remove_shopping_cart</mat-icon>
                </button>
              </td>
              <td>{{item.ff0003}}</td>
              <td>{{item.ff0010}}</td>
              <td>{{item.ff0005}}</td>
              <td>{{item.ff0001}}</td>
              <td>{{item.ff0007}}</td>
              <td>{{item.ff0009}}</td>
              <td>{{item.ff0006}}</td>
              <td>{{item.ff0008}}</td>
              <td>{{item.ff0012}}</td>
              <td>{{item.ff0013}}</td>
              <td>{{item.ff0014}}</td>
              <td>{{item.ff0015}}</td>
              <td>{{item.ff0016}}</td>
              <td>{{item.ff0011}}</td>
              <td>{{item.ff0017}}</td>
              <td>{{selectedOrder.sumGroup.ff0007}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid" *ngIf="selectedOrder?.sumGroup">
      <mat-card class="">
        <div class="supplier-content">
          <div class="sup-head row-background-color">
            <div class="sup-fields">Total Discount :</div>
            <div class="sup-values">
              {{ selectedOrder.sumGroup.ff0008 | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head row-background-color">
            <div class="sup-fields">After Discount Sub Total Amount :</div>
            <div class="sup-values">
              {{ selectedOrder.sumGroup.ff0009 | number : "1.2-2" }}
            </div>
          </div>

          <div class="sup-head">
            <div class="sup-fields">SGST :</div>
            <div class="sup-values">
              {{ selectedOrder.sumGroup.ff0003 | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head">
            <div class="sup-fields">CGST</div>
            <div class="sup-values">
              {{ selectedOrder.sumGroup.ff0004 | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head row-background-color">
            <div class="sup-fields">IGST</div>
            <div class="sup-values">
              {{ selectedOrder.sumGroup.ff0005 | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head row-background-color">
            <div class="sup-fields">Total GST Amount</div>
            <div class="sup-values">
              {{ selectedOrder.sumGroup.ff0006 | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head">
            <div class="sup-fields">Total Amount :</div>
            <div class="sup-values">
              {{ selectedOrder.sumGroup.ff0007 | number : "1.2-2" }}
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="submit">
  <div>
    <button *ngIf="!isPreviousOrder" mat-raised-button mat-dialog-close>Close</button>
  </div>
  <button  *ngIf="!isPreviousOrder" mat-raised-button class="submitButton" (click)="submission()">
    Submission
  </button>
</div>