/*************** Header *********************************/
.toolbar {
  height: 4%;
  /* border: 1px solid; */
  border-color: #c0c0c0;
  color: #ffffff;
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 0px;
  background-color: #4a75b5;
  background-position: left top;
  background-repeat: repeat-x;
  background: linear-gradient(0deg, #4a75b5 0%, #93c4e5 100%) !important;
  border-collapse: collapse;
  border-spacing: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000; }

.userid_title {
  text-align: right;
  font-weight: 700;
  color: #295ea3 !important;
  font-family: inherit;
  cursor: pointer; }

.dropdown1 {
  padding: 0px !important;
  background-color: #474668 !important;
  background-position: left top;
  background-repeat: repeat-y;
  min-height: 0px; }

.mat-menu-item {
  width: 100%;
  height: 29px;
  font-size: 12px;
  line-height: 0px;
  border: aliceblue;
  background-color: #474668 !important; }

.btn-primary {
  color: #fff;
  background-color: #f0f4f5;
  border-color: #d3dee9; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #868f8a !important;
  border-color: #474668 !important; }

button.mat-raised-button:hover {
  background-color: "green"; }

.mat-menu-item:hover {
  background-color: #040242 !important;
  border: 1px solid orange !important; }

/**************Table Styles***********/
mat-header-cell {
  text-align: center !important; }

.mat-mdc-tab.mdc-tab {
  height: 28px !important;
  flex-grow: 0;
  opacity: unset !important;
  color: white !important;
  border-radius: 0px !important; }

.mat-mdc-tab-body-content {
  height: 100%;
  overflow: hidden !important; }

mat-row:nth-child(odd) {
  background-color: #9ea6ef; }

mat-cell {
  word-break: unset;
  padding: 4px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  border: 1px solid #170b85; }

mat-header-row {
  background: #369 !important;
  min-height: min-content;
  border-bottom: 1;
  min-height: 37px; }

.mat-mdc-table .mdc-data-table__row {
  height: 48px !important; }

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  border-bottom-color: black; }

.mat-mdc-table .mdc-data-table__header-row {
  height: 37px !important; }

.table-box {
  box-shadow: 0px 0px 2px 2px #b6b5c0;
  padding: 0px;
  margin-top: 9px;
  margin-left: 8px; }

.table_space {
  margin-left: 10px;
  margin-right: 10px; }

.table_background_color {
  background-color: ghostwhite; }

mat-header-cell {
  color: white !important;
  padding: 4px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-flex-item-justify: stretch;
  align-self: stretch;
  /* align-items center so that cell content is vertically centered */
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #c0c0c0;
  font-size: 10px;
  font-weight: 550; }

mat-footer-row {
  border: 1px solid #e7e7e7;
  font-weight: bold;
  height: 10px !important; }

mat-cell,
mat-footer-cell {
  font-size: 10px;
  line-height: 10px;
  font-weight: 600;
  border-bottom: 1px solid; }

mat-row {
  min-height: min-content; }

mat-card-header-text {
  padding: 0px; }

/************************* Header Styles ******************************************/
.section_header {
  padding-left: 5px;
  padding-right: 5px;
  height: 33px;
  background: #474668;
  color: white;
  font-size: 12px;
  font-weight: 550;
  padding-top: 4px; }

.section_header_title {
  color: aliceblue;
  font-size: 12px;
  margin-top: 2px; }

/********************************  Filter Styles***********************************/
.filter_space_section {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 4px; }

.filter_background_color {
  background-color: ghostwhite; }

.filter_section_headers {
  background: #474668;
  color: white;
  font-size: 12px;
  font-weight: 550;
  padding-left: 5px;
  padding-top: 4px;
  height: 30px;
  width: 100% !important; }

.filter_btn_container {
  text-align: center;
  padding-top: 12px; }

.filter_search_field {
  margin-top: 5px;
  width: 100%; }

.export_title {
  font-size: 10px;
  font-weight: bold; }

.filter-box {
  box-shadow: 0px 0px 2px 2px #b6b5c0;
  padding: 4px;
  margin-top: 6px; }

.filter_drop_down {
  font-size: 0.95em;
  width: 100%;
  margin-top: 5px;
  height: 33px; }

/*********************************** Button Styles ************************************/
.submitButton {
  font-size: smaller;
  background-color: #295ea3 !important;
  height: 25px;
  margin: 2px;
  color: white !important; }

.filter_apply_btn {
  font-size: smaller;
  background-color: #295ea3 !important;
  height: 25px !important;
  margin: 5px;
  color: white !important; }

.exportIconBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  margin: 1px; }

.exportIcon {
  height: 20px;
  width: 20px; }

.add-new-record {
  font-size: smaller;
  background-color: #22773e !important;
  color: #ffff !important;
  height: 25px !important;
  margin-left: 86% !important;
  width: max-content; }

.tile-view {
  background-color: #295ea3 !important;
  color: white !important;
  height: 100% !important;
  width: 100%;
  background: linear-gradient(0deg, #4a75b5 0%, #93c4e5 100%) !important; }

.containerBTN {
  background-color: #dceaff;
  padding: 10px 0 !important;
  border-top: 1px solid #0041a8;
  border-bottom: 1px solid #0041a8; }

/************************************ Common Styles ***************************************/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  background: #474668 !important; }

.adjust {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between; }

/**************************** Collapsed/Expand *********************************************/
.table-container {
  transition: width 0.3s;
  width: calc(79% - 1em); }

.filter-container {
  transition: width 0.3s;
  overflow: hidden;
  width: 19%;
  display: flex;
  flex-direction: column; }

.filter-container.collapsed {
  width: 2%; }

.table-container.expanded {
  width: calc(95% - 1em); }

.filter-header {
  display: flex;
  align-items: center; }

.filter-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.toggle-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff; }

.toggle-button {
  cursor: pointer;
  background-color: #474668;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.filter-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.filter-box.collapsed .filter_section_headers,
.filter-box.collapsed .filter_background_color,
.filter-box.collapsed .filter_btn_container,
.filter-box.collapsed .export_title,
.filter-box.collapsed .text-center {
  display: none; }

.customeHeading {
  margin-top: 19px;
  margin-bottom: 1px;
  font-size: 15px;
  font-weight: 700;
  color: #0472b6; }

.tabOverFlowY {
  max-height: 400px;
  min-height: 400px;
  overflow-y: auto;
  margin-top: 5px;
  overflow-x: hidden; }

.icon-size {
  width: 35px;
  height: 35px;
  cursor: pointer; }

.lovSearchButton {
  position: absolute;
  right: 0%;
  width: 20px;
  height: 20px; }

.headers {
  background: #474668;
  color: white;
  font-size: 15px;
  font-weight: 550;
  padding-left: 5px;
  padding-top: 4px; }

/******************************Material tab  *************************************************
/* Styles for tab labels */
[aria-label='Tab0'],
[aria-label='Tab1'],
[aria-label='Tab2'],
[aria-label='Tab3'],
[aria-label='Tab4'],
[aria-label='Tab5'],
[aria-label='Tab6'],
[aria-label='Tab7'] {
  border-radius: 0px 0px 0px 0px; }

[aria-label='Tab7'] {
  background-color: #50A1CA; }

[aria-label='Tab6'] {
  background-color: #69AFD2; }

[aria-label='Tab5'] {
  background-color: #82BCD9; }

[aria-label='Tab4'] {
  background-color: #9BC9E1; }

[aria-label='Tab3'] {
  background-color: #9BC9E1; }

[aria-label='Tab2'] {
  background-color: #B4D7E8; }

[aria-label='Tab1'] {
  background-color: #CDE4F0; }

[aria-label='Tab0'] {
  background-color: #E6F1F7; }

.mat-tab-label {
  height: 35px !important;
  opacity: unset !important;
  background-color: #009fdb !important;
  color: white !important;
  border-radius: 0px !important; }

.mat-tab-header {
  margin-top: 0px; }

.create-update-dialog-header-section {
  background: linear-gradient(0deg, #4a75b5 0%, #93c4e5 100%) !important; }

.daialog-title-name {
  margin-top: 19px;
  margin-bottom: 1px;
  font-size: 15px;
  font-weight: 700;
  color: white; }

.form-validation-msg {
  color: blue; }

/*********************** scroll bar ******************************/
::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #4a75b5 0%, #93c4e5 100%) !important;
  border-radius: 10px;
  border: 3px solid #f1f1f1; }

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, #4a75b5 0%, #93c4e5 100%) !important; }
