mat-grid-tile {
  background: #5a9ce6;
  width: 25%;
}

.mastermatgridlist {
  margin-top: 5px;
}
.master-button {
  height: 100%;
  width: 100%;
  /* Add any common styles here */
  background-color: #0047ab; /* Example color */
  color: white; /* Example text color */
}
